---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Section from '../components/Section.astro';
import Home from '../components/Home.astro';
---

<Layout title="Welcome to Tesla | Driving to the Future">
	<Header />
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth">
		<div class="snap-center">
			<Home />
		</div>
		<div id="model-s" class="snap-center">
			<Section title="Model S" subtitle="" color="black" textLink="Explore Inventory" textButton1="Custom Order" textButton2="Demo Drive">
				<img src="../../public/images/model-s.avif" alt="model-s image" slot="background" class="w-screen h-full object-center object-cover"/>
			</Section>
		</div>
		<div id="model-3" class="snap-center">
			<Section title="Model 3" subtitle="Starting at $32,740" textLink="" color="black" textButton1="Explore Inventory" textButton2="Custom Order">
				<img src="../../public/images/model-3.avif" alt="model-3 image" slot="background" class="w-screen h-full object-center object-cover"/>
			</Section>
		</div>
		<div id="model-x" class="snap-center">
			<Section title="Model X" subtitle="" color="black" textLink="Explore Inventory" textButton1="Custom Order" textButton2="Demo Drive">
				<img src="../../public/images/model-x.avif" alt="model-x image" slot="background" class="w-screen h-full object-center object-cover"/>
			</Section>
		</div>
		<div id="model-y" class="snap-center">
			<Section title="Model Y" subtitle="Starting at $40,240" textLink="" color="black" textButton1="Explore Inventory" textButton2="Custom Order">
				<img src="../../public/images/model-y.avif" alt="model-y image" slot="background" class="w-screen h-full object-center object-cover"/>
			</Section>
		</div>
		<div id="solar-panels" class="snap-center">
			<Section title="Solar Panels" subtitle="" textLink="Schedule a Virtual Consultation" color="black" textButton1="Order Now" textButton2="Learn More">
				<img src="../../public/images/solarPanels.avif" alt="solar panels image" slot="background" class="w-screen h-full object-center object-cover"/>
			</Section>
		</div>
		<div id="solar-roof" class="snap-center">
			<Section title="Solar Roof" subtitle="Produce Clean Energy From Your Roof" textLink="" color="black" textButton1="Order Now" textButton2="learn More">
				<img src="../../public/images/Homepage-SolarRoof-Desktop-Global.avif" alt="solar roof image" slot="background" class="w-screen h-full object-center object-cover"/>
			</Section>
		</div>
		<div id="powerwall" class="snap-center">
			<Section title="Solar Roof" subtitle="" textLink="" color="black" textButton1="Order Now" textButton2="Learn More">
				<img src="../../public/images/Powerwall.avif" alt="powerwall image" slot="background" class="w-screen h-full object-center object-cover"/>
			</Section>
		</div>
		<div id="accesories" class="snap-center">
			<Section title="Accesories" subtitle="" textLink="" color="black" textButton1="Shop Now" textButton2="Learn More">
				<img src="../../public/images/Accessories.avif" alt="accesories image" slot="background" class="w-screen h-full object-center object-cover"/>
			</Section>
		</div>

	</main>

</Layout>
